.spinner {
    width: 25px;
    height: 25px;
    display: grid;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    background: var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 5.8px 5.8px;
    background-repeat: no-repeat;
    animation: spinner-3hs4a3 0.8s infinite;
}

.spinner::before {
    --c: radial-gradient(farthest-side, #ffffff 92%, #0000);
    margin: 1.9px;
    background-size: 3.8px 3.8px;
    animation-timing-function: linear;
}

.spinner::after {
    --c: radial-gradient(farthest-side, #ffffff 92%, #0000);
}

@keyframes spinner-3hs4a3 {
    100% {
        transform: rotate(.5turn);
    }
}