@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geologica:wght@100..900&display=swap');

body {
  font-family: "Geologica", serif;

}


body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #1dc9a0;
}

input:checked+.slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  color: white !important;
}

.swal2-actions .btn {
  margin: 0 10px; /* Adds space between the buttons */
}

.btn-success {
  background-color: #28a745 !important; /* Green */
  color: white !important;
  border: none !important;
  border-radius: 5px;
  padding: 8px 15px;
}

.btn-danger {
  background-color: #dc3545 !important; /* Red */
  color: white !important;
  border-radius: 5px;
  border: none !important;
  padding: 8px 15px;
}

.btn-success:hover {
  background-color: #218838 !important;
}

.btn-danger:hover {
  background-color: #c82333 !important;
}