*{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightpink;
}
.container{
  width: 50vw;
  height: 50vh;
  margin: auto;
   margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
 padding: 30px;
  border: 2px solid rgb(140, 210, 161);
  text-align: center;
  display: flex;
  align-items:center ;
  justify-content: center;
}
.j{
 
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button{
  padding: 20px;
  border-radius: 8px;
  border: 0.5px solid lightskyblue;
  font-size: 18px;
}
button:hover{
  cursor: pointer;
}
.con{
  width: 50vw;
  height: 50vh;
  margin: auto;
   margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
 padding: 30px;
  border: 2px solid rgb(140, 210, 161);
  text-align: center;
  display: flex;
  align-items:center ;
  justify-content: center;
}

