*{
  padding: 0;
  margin: 0;
}
body{
  background-color: lightsalmon;
 display: flex;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
 justify-content: center;
}
.container{
   width: 55vw;
   border: 2px solid black;
margin-top: 30px;
padding: 20px;

 
}
.heading{
  text-align: center;
  margin-bottom: 30px;
}
.inner-con{
  
  padding: 15px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 95%;

}
.row{
  /* margin: 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  width: 100%; */
  display: grid;
  grid-template-columns: 400px 250px 250px;
  row-gap: 10px;
  margin-top: 10px ;
  

}

.input input{
  
  padding: 10px 5px; 
  

}
.btn{
  border: none;
  padding: 10px;
  border-radius: 9px;
}
