*{
    margin: 0;
    padding: 0;
    font-family:Arial;
    box-sizing :border-box;
   
}
header{
    position: fixed;
    top:0px;
    width: 100vw;
}
nav{
     color: white;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/* .nav-logo{
    height: 50px;
    width: 100px;
} */
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.adress-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.adress-second{
     font-size:1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: pink; */
    width: 620px;
    height: 40px;
    border-radius: 4px;
     border: 2px solid transparent;
}
.nav-search:hover{
    border: 2px solid orange;
}
.select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: rgb(255,174,0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight:700
    
}
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.pannel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    
    display:inline;
    margin-left: 10px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deal{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("image_0.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-msg{
    display: flex;
    align-items: center;
    color: #0f1111;
    background-color: #f3f3f3;
    justify-content: center;
    height: 40px;
    /* position: absolute;
    bottom:30px ; */
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg p a {
    cursor: pointer;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #15a0c6;
}
.box{
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;
border:none ;
}
.box-img{
    height:300px;
    background-size:cover ;
    
    
    
}
