@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* basic styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;

}

body {
  background-color: var(--eye-ball);
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--leads);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding-inline: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.p-top {
  padding-top: 10rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-half {
  margin-top: .5rem;
}

.mt-one-half {

  margin-top: 1.5rem;
}

/* header/navigation bar */
.navbar {
  height: 14vh;
}

.logo {
  font-size: 2rem;
  color: var(--gold-finger);
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: .9rem 2rem;
  background-color: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.1rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.099) 0 2px 1px;
  transition: .3s ease-in-out;
}

.btn:hover {
  background-color: var(--lead);
}

.cart-icon {
  font-size: 1.3rem;
  color: var(--lead);
  position: relative;
}

.cart-icon .cart-value {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: .85rem;
  width: 20px;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: var(--gold-finger);
  color: var(--lead);
  line-height: 20px;
}

.desktop-action .humburger {
  font-size: 1.5rem;
  display: none;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: -100%;
  transform: translateX(-50%);
  width: 20rem;
  padding: 2rem;
  background-color: var(--pure-white);
  border: .1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.016) 8px 8px 8px, rgba(0, 0, 0, 0.016) 8px 8px 8px inset;
  transition: all .5s ease-in-out;


}

.mobile-menu-active {
  left: 50%;
  transform: translateX(-50%);
}

/* main section styling */
.hero-section {
  min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}

h1 span {
  color: #f2bd12;
}

p {
  font-size: 1.25rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;

}

.para {
  margin-block: 1.8rem;
  max-width: 550px;
}

.social-icon {
  background-color: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.099) 0 2px 1px;
  transition: .3s ease-in-out;
}

.social-icon:hover {
  background-color: var(--lead);
  color: var(--pure-white);
}

/* section 02 */
h5 {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: var(--gold-finger);
  text-transform: uppercase;
}

h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card h3 {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

/* section 03 */
.order-card {
  flex: 1;
  flex-basis: 300px;
  padding: 0 1rem 2rem 1rem;
  background-color: var(--pure-white);
  border: .1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.016) 8px 8px 8px, rgba(0, 0, 0, 0.016) 8px 8px 8px inset;
  transition: all .5s ease-in-out;
}

.order-card img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.203) 0 10px 10px);
}

h4 {
  font-size: 1.6rem;
  color: var(--lead);
}

.order-card .price {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0 2rem 0;
}

.cart-tab {
  background-color: var(--hint-yellow);
  position: fixed;
  inset: 0 -500px 0 auto;
  z-index: 5;
  width: 25rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.cart-tab-active {
  inset: 0 0 0 auto;
}

.cart-list {
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}

.cart-list::-webkit-scrollbar {
  width: 0;
}

.cart-list .item:nth-child(even) {
  background-color: var(--eye-ball);
}

.total-container {
  text-align: center;
  width: 100%;
  background-color: var(--gold-finger);
  padding-block: 1rem;
  margin-block: 1rem;

}

.total-container h4 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;

}

.btn-container .btn {
  background-color: var(--lead);
  transition: .3s ease-in-out;
}

.btn-container .btn:hover {
  background-color: var(--gold-finger);
  color: var(--lead);
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .7rem 1rem;
  /* justify-content: space-between; */
}

.item h4 {
  font-size: 1.3rem;
  color: var(--lead);
}

.item .item-image img {
  width: 5rem;
}

.item .item-total {
  font-weight: 400;
  margin-top: .3rem;
}

.quantity-btn {
  background-color: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  line-height: 1.7rem;
  text-align: center;
}

.quantity-value {
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: .6rem;
}

.item :nth-child(2) {

  flex: 1;
}

/* section 04 */
.swiper {
  width: 100%;
  height: 100%;
}


.review-container {
  padding: 2rem;
  width: 650px;
  max-width: 100%;
  flex: 1;

}

.profile {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-star {
  color: var(--gold-finger);
}

.arrow {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: #f2bd12;
  color: var(--lead);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section04 */
.hero2 {
  background-color: var(--hint-yellow);
  border-radius: 2.5rem;
}

.hero2 .content h1 {
  font-size: 4vw
}

.hero2 .image-container img {
  max-width: 70%;
}

/* section 05 */
.subscrib-para {
  margin: 3rem 0;
}

.input {
  width: 43rem;
  max-width: 100%;
  margin: 4rem auto 0 auto;
  padding: .8rem;
  background-color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.445) 3px 5px 8px;
  border-radius: .9rem;


}

input[type="email"] {
  border: none;
  height: 6vh;
  flex: 1;
  background: transparent;
  font-size: 1.1rem;
  padding-left: 1rem;
}

input[type="email"]:focus {
  outline: none;

}

/* footer */
.footer-container {
  margin-top: 10rem;
  padding-block: 4rem;
  background-color: var(--hint-yellow);
}

.footer-container .flex {
  align-items: start;
}

.footer-wrapper {
  flex: 1;
  flex-basis: 150px;
}

.footer-wrapper:nth-child(1) {
  flex: 2;
  flex-basis: 300px;
}

.footer-wrapper .social-icon {
  background: var(--pure-white);
  transition: .5sec ease-in-out;
}

.footer-wrapper .social-icon:hover {
  background: var(--lead);
  color: var(--pure-white);
}

.footer-link {
  color: gray;
  font-size: 1.1rem;
  transition: .3s ease-in-out;
}

.footer-link:hover {
  color: var(--lead);
}

























@media screen and (max-width :780px) {

  .navlist,
  .desktop-action .btn {
    display: none;
  }

  .desktop-action .humburger {
    display: block;
  }

  .h1 {
    font-size: 3.6rem;

  }

  .content {
    padding-top: 3rem;
  }

  .gap-2 {
    gap: 1.4rem
  }

  .gap-4 {
    gap: 4rem
  }

  h2 {
    font-size: 3rem;
  }
}