@import url('https://fonts.googleapis.com/css2family=Martel+Sans:wght@600&family=Poppins:eght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins',Sans-Serif;
}
body{
    background-color: black;
    color: white;
    
    
}
.main{
    background-image: url("assets/images/bg.jpg");
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
     height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100vw;
    opacity: 0.65;
    position: absolute;
    top:0;
    background-color: black;
    
}
nav span{
    padding-top: 2.5px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 3.5px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}
.b{
    
    font-family:'Martel Sans',Sans-serif; 

     padding: 7px 20px;
    margin-left: 9px;
    font-size: 16px;
    font-weight: bold;
     position: relative;
    z-index: 10;
    border: none;
    border-radius:3px ;
    color: aliceblue;

}
.lang{
    background-color: transparent;
    border: 1.5px solid  rgba(246, 238, 235, 0.5);

    
}
.lang:hover{
    cursor: pointer;
    

}
.si{
     cursor: pointer;
    background-color: red;
    color: aliceblue;
}

.input> :nth-child(2){
    padding:10px 24px ;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.main input{
    font-size: 18px;
     padding: 9px 24px;
    background-color:rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 235, 0.5);
    font-weight: 200;
    color: azure;

} 


nav{
    max-width: 60vw;
    margin: auto;
    /* padding-to0p: 20px; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
   

}
nav img{
    width: 144px;
    position: relative;
    z-index: 10;
}
.hero{
    font-family:'Martel Sans',Sans-serif; 
    color: white;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    padding:0 29px;
}
.hero> :first-child{
    font-family: 'Poppins';

    text-align: center;
    font-weight:bolder;
    font-size: 48px;
}
.hero> :nth-child(2){
     text-align: center;

    font-weight: 400;
    font-size: 24px;
}
.hero> :nth-child(3){
     text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom:12px ;
}
.line{
    height: 8px;
    background-color: rgb(58, 58, 58);

}
.first{
    color: beige;
    max-width: 70vw;
    display: flex;
    justify-content:space-between;
    margin:  auto;
    align-items: center;
    margin-bottom: 40px;
    
   
    
}
.secimage{
    
    position: relative;

}
.secimage :nth-child(1){
    width: 559px;
    position: relative;
    z-index: 5;
}
.secimage video{
    width: 438px;
    position: absolute;
    top:73px;
    right: 45px;
    

}
.first> div{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.first> div :nth-child(1){
    font-weight: bold;
    font-size: 40px;
}
.first> div :nth-child(2){
    font-weight:400;
    font-size: 20px;
}

/* .second{
    flex-direction: row-reverse;
} */
.second> div :nth-child(2){
    font-weight: lighter;
}
/* .fourth{
    flex-direction: row-reverse;
} */

.faq{
    padding-bottom: 100px;
}
.fq-box{
    max-width: 40vw;
    margin: 7px auto;

font-size: 20px;
display: flex;
background-color:rgb(41, 39, 39);
padding: 30px;
justify-content: space-between;
align-items: center;
transition: color, background-color 0.8s ease-out ;

}
.faq h2{
    text-align: center;
    padding: 34px;
    font-size: 30px;
}
.fq-box:hover{
    color: rgb(200, 0, 0);
    
    background-color: rgb(14, 10, 10);
}
footer{
    
   max-width: 60vw;
    margin:60px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: end;
}
footer .items{
    display: flex;
    flex-direction: column;
    gap:9px;
}
footer .items a{
    text-decoration: none;
    color: azure;
    font-size: 20px;
    
}
@media screen and (max-width:1200px) {
    .secimage :nth-child(1){
    width: 430px;
    /* position: relative;
    z-index: 5; */
}
.secimage video{
    width: 330px;
   
}
    .first{
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    footer{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 9px;
    }
    .main{
       height: 54vh;
    }
   .main .box{
     height: 54vh;
    }
    .main nav{
        margin:0;
        gap: 80px;
    }
    .main .hero{
        gap:5px
        
    }
    .hero> :first-child{
        font-size: 35px;
    }
    .first> div :nth-child(1){
        font-size: 30px;
    }
.first> :first-child{
    margin: 20px 0px;
 
}
}